/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #fff;
  --divider: lightgrey;
  --body: #f5f7f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
}

body {
  background: var(--body);
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 40px;
}

.chart-wrapper {
  max-width: 100vw;
  padding: 0 10px;
  margin: 0 auto;
}

.step-row {
  display: flex;
}

.step-col {
  flex: 1;
  padding: 0 10px;
}
/* CHART-VALUES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-values {
  position: relative;
  display: flex;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  height: 42px;
  text-align: center;
  background-color: lightgray;
}

.step-title {
  display: flex;
  height: 42px;
  align-self: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 48px;
  align-content: center;
  font-size: 1.3rem;
  background-color: lightgray;
  border-right: solid 0.5px;
}

.step-label {
  font-size: 1.1rem;
  align-self: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px 8px 20px 8px;
  align-content: center;
  font-size: 1.1rem;
  width: 164px;
  border-right: solid 0.5px;
}

.chart-wrapper .chart-values li {
  flex: 1;
  align-self: center;
  min-width: 80px;
  text-align: center;
}

.chart-wrapper .chart-values li:not(:last-child) {
  position: relative;
}

.chart-wrapper .chart-values li:not(:last-child)::before {
  content: '';
  position: absolute;
  right: 0;
  height: 510px;
  border-right: 1px solid var(--divider);
}

/* CHART-BARS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-bars li {
  position: relative;
  color: var(--white);
  padding-bottom: 15px;
  font-size: 16px;
  border-radius: 8px;
  min-height: 36px;
  padding: 10px 20px;
  width: 0;
  opacity: 0;
  transition: all 0.65s linear 0.2s;
}

@media screen and (max-width: 600px) {
  .chart-wrapper .chart-bars li {
    padding: 10px;
  }
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  font-size: 0.85rem;
  padding: 10px;
  text-align: right;
  color: var(--black);
}

.page-footer span {
  color: #e31b23;
}
